/*############RESETS##############*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Lato', sans-serif;
}

/*############NAVBAR##############*/
.navbar {
    width: 100%;
    height: 3em;
    background-color: rgb(57, 107, 214);
    line-height: 3em;
}

.links-list {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
}

.links {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1em;
    padding: .9em 4em .9em 4em;
  }

.navbar a:visited {
    text-decoration: none;
}
.navbar a:hover {
    background-color: #333333;
}
  
li  {
    display: inline;
}

.profile {
    height: 200px;
    width: 200px;
    border-radius: 95px;
    border-width: 0px;
    margin: 0;
    padding: 0;
}

/*############BODY##############*/
body {
    height: 100%;
}

header {
    font-family: 'Lato', sans-serif;
    height: 20vh;
}


