/*############RESETS##############*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
    background-color: black;
}
.main {
    position:relative;
    float: right;
    top: 0;
    width:85%;
}
.navbar {
    padding:0px;
    width: 100px;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: red;
}
.brand {
    padding: 10px;
}
.links-list{
    padding: 10px;
    margin: 0;
}
.links {
    padding-left: 10px;
    text-decoration:none;
    color: white;
}
